/* sample styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.check-img {
  width: 100%;
  height: 100vh;
  background-image: url('../components/sample.jpg');
  background-position: center;
  background-size: cover;
}

h1 {
  color: orangered;
  text-align: center;
}
